@mixin clearfix {

	 &:after{
    	content: '';
    	display: block;
    	clear: both;
    }
}

@mixin mid_cont{

	position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
}
